.list-view-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
    border-bottom: 1px solid gray;
    padding-left: 7px;
    padding-right: 7px;
}

.list-view-item-name,
.list-view-item-unit,
.list-view-item-type,
.list-view-item-value {
    align-items: center;
}

.list-view-item-name {
    text-align: left;
    min-width: 30%;
}

.list-view-item-unit {
    text-align: center;
    min-width: 15%;
}

.list-view-item-type {
    text-align: center;
    min-width: 15%;
}

.list-view-item-value {
    text-align: right;
    min-width: 40%;
}

.list-view {
    display: block;
    margin-bottom: 15px;
}
.list-view-item:nth-child(odd) {
    background-color: #c1c1c1;
}
.list-view-item:nth-child(even) {
    background-color: #ffffff;
}
